<!-- public/views/home.hbs -->


<div class="container ">
    <div class="card-columns">
        <div class="card">

            <div class="card-body">
                <h5 class="card-title">Rol</h5>
                <a class="mdl-button" href='/rol'>Seleccionar</a>

            </div>

        </div>
        <div class="card">

            <div class="card-body">
                <h5 class="card-title">Usuarios</h5>
                <a class="mdl-button" href='/user'>Seleccionar</a>

            </div>

        </div>
        <div class="card">

            <div class="card-body">
                <h5 class="card-title">Funcionalidad</h5>
                <a class="mdl-button" href='/funcionalidad'>Seleccionar</a>

            </div>

        </div>
        <div class="card">

            <div class="card-body">
                <h5 class="card-title">Rol Usuario</h5>
                <a class="mdl-button" href='/userrol'>Seleccionar</a>
            </div>

        </div>
        <div class="card">

            <div class="card-body">
                <h5 class="card-title">Rol Funcionalidad</h5>
                <a class="mdl-button" href='/rolesfuncionalidad'>Seleccionar</a>

            </div>

        </div>

    </div>
</div>