<div class="card-deck">
 {{#each funcionalidad}}
  <div class="card">

    <div class="card-body">
      <h5 class="card-title">{{funcionalidad_id.name}}</h5>
       <a class="mdl-button" href='/{{funcionalidad_id.url}}'>Seleccionar</a>
    </div>
    
  </div>
     {{/each}}
     
  </div>