{{!-- {{funcionalidades}} --}}

<!-- public/views/home.hbs -->
<div class="mdl-layout mdl-js-layout mdl-color--grey-100">
    <main class="mdl-layout__content">
        <div class="mdl-card mdl-shadow--6dp">
            <div class="mdl-card__title mdl-color--primary mdl-color-text--white">

<table class="table">
    <thead>
        <tr>
            <th scope="col">Nombre</th>
            <th scope="col">Borrar</th>
            <th scope="col">Editar</th>
            
        </tr>
    </thead>
    <tbody>
        {{#each funcionalidades}}
        <tr>
            <td>{{name}}</td>
            <td><button>Borrar</button></td>
            <td><button>Editar</button></td>
        </tr>
        {{/each}}
    </tbody>

</table>
            </div>
          
        </div>
    </main>
</div>



