<!-- public/views/home.hbs -->

<div class="jumbotron text-center">
  <h1>Bienvenido {{ user.email }}</h1>
</div>


<div class="container ">
  <div class="card-deck">
    {{#each rol}}
    <div class="card">

      <div class="card-body">
        <h5 class="card-title">{{rol_id.name}}</h5>
        <a class="mdl-button" href='/rolesfuncionalidad/{{_id}}'>Entrar</a>
      </div>

    </div>
    {{/each}}

  </div>
</div>