<div class="card">
  <div class="card-header">
    Notas
  </div>
  <div class="card-body">
    <h5 class="card-title">Periodo 2019-2020</h5>
        <a href="#" class="btn btn-primary">Ir a Notas</a>
  </div>
</div>