<div class="container ">
    <table class="table">
        <thead>
            <tr>

                <th scope="col">Nombre</th>
                <th scope="col">Borrar</th>

            </tr>
        </thead>
        <tbody>
            {{#each rols}}
            <tr>
                <td>{{name}}</td>
                <td><button>Borrar</button></td>
            </tr>
            {{/each}}
        </tbody>

    </table>
</div>