<div class="container ">

    <table class="table">
        <thead>
            <tr>
                <th scope="col">Email</th>
                <th scope="col">Rol</th>
                <th scope="col">Borrar</th>
                <th scope="col">Editar</th>

            </tr>
        </thead>
        <tbody>
            {{#each rolusers}}
            <tr>
                <td>{{user_id.email}}</td>
                <td>{{rol_id.name}}</td>
                <td><button>Borrar</button></td>
                <td><button>Editar</button></td>
            </tr>
            {{/each}}
        </tbody>

    </table>
</div>