<div class="container ">
<table class="table">
    <thead>
        <tr>
            <th scope="col">Nombre</th>
            <th scope="col">Borrar</th>
            <th scope="col">Editar</th>
            
        </tr>
    </thead>
    <tbody>
        {{#each users}}
        <tr>
            <td>{{email}}</td>
            <td><button>Borrar</button></td>
            <td><button>Editar</button></td>
        </tr>
        {{/each}}
    </tbody>

</table>

</div>

