<form method="post" action="verify">

    <div class="input-group mb-3">
        <input class="form-control"  name="phone" type="tel" placeholder="0978521122">
        <button class="btn btn-outline-secondary">Obtener Codigo</button>
    </div>

</form>